body{
    margin: 0;
    height: 200vh;
    background-image: url(image.png);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}